/* styles.css */

.tab-button {
    width: 180px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
.tab-button.active {
transform: scale(1.05);  /* 当按钮处于活动状态时，将其放大 */
background-color: #007bff;  /* 设置背景颜色 */
color: #fff;  /* 设置文字颜色 */
}

.questionContent {
    border: 3px solid #feae3a;
    padding: 10px;
    margin: 20px auto 40px;
    width: 90%;
    height: 300px;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }