/* styles.css */

.tab-button {
    width: 180px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
.tab-button.active {
transform: scale(1.05);  /* 当按钮处于活动状态时，将其放大 */
background-color: #007bff;  /* 设置背景颜色 */
color: #fff;  /* 设置文字颜色 */
}